<section>
    <div class="container">
      <h2 class="numbered-heading">
        <span>03.</span> Proyectos
      </h2>
      
      <ul>
        @for (project of projects; track $index) {
          <li>
            <div class="project-content">
              <div>
                <p class="project-overline">Featured Project</p>
                <h3 class="project-title">{{project.frontmatter.title}}</h3>
                <div class="project-description" [innerHTML]="project.contentHtml">
                </div>
                <!-- <ul class="project-tech-list">
                  @for (tech of project.frontmatter.tech; track $index) {
                    <li>{{tech}}</li>
                  }
                </ul> -->
              </div>
            </div>
            <div class="project-image">
              <a href="{{project.frontmatter.slug}}" aria-label="Project Link">
                <div>
                  <img src="{{project.frontmatter.image}}" alt="{{project.frontmatter.title}}" width="600" height="350"  />
                </div>
              </a>
            </div>
          </li>
        }
      </ul>

    </div>
  </section>
