<section id="jobs" #revealContainer>
    <h2 class="numbered-heading">
      <span>02.</span> Experiencia
    </h2>
  
    <div class="inner">
      <div class="d-flex d-none d-md-block"  role="tablist" aria-label="Job tabs">
        @for (job of jobsData; track $index) {
          <button
          class="tab-button"
          [class.active]="activeTabId === $index"
          (click)="setActiveTabId($index)"
          #tabButton
          [id]="'tab-' + $index"
          role="tab"
          [attr.tabindex]="activeTabId === $index ? '0' : '-1'"
          [attr.aria-selected]="activeTabId === $index"
          [attr.aria-controls]="'panel-' + $index"
        >
          <span>{{ job.frontmatter.company }}</span>
        </button>
        }
      </div>

      <div class="d-flex d-block d-md-none"  role="tablist" aria-label="Job tabs">
        @for (job of jobsData; track $index) {
          <button
          class="tab-button"
          [class.active]="activeTabId === $index"
          (click)="setActiveTabId($index)"
          #tabButton
          [id]="'tab-' + $index"
          role="tab"
          [attr.tabindex]="activeTabId === $index ? '0' : '-1'"
          [attr.aria-selected]="activeTabId === $index"
          [attr.aria-controls]="'panel-' + $index"
        >
          <span>{{ job.frontmatter.company }}</span>
        </button>
        }
      </div>
  
      <div class="tab-panels">
        @for (job of jobsData; track $index) {
          <div
          class="tab-panel"
          [hidden]="activeTabId !== $index"
          [attr.aria-labelledby]="'tab-' + $index"
          [attr.aria-hidden]="activeTabId !== $index"
        >
          <h3>
            <span>{{ job.frontmatter.title }}</span>
            <span class="company">
              &nbsp;&#64;
              <a href="https:\\{{ job.frontmatter.url }}" class="inline-link">{{ job.frontmatter.company }}</a>
            </span>
          </h3>
          <p class="range">{{ job.frontmatter.range }}</p>
          <div [innerHTML]="job.contentHtml"></div>
        </div>
        }
      </div>
    </div>
  </section>
  