<section>
  <div class="container">
    <h2 class="numbered-heading">
      <span>01.</span> Acerca de mi
    </h2>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="text">
          <p>¿Sigues lidiando con sistemas antiguos que no cumplen con tus necesidades? ¿Todavía dependes de Excel para tareas críticas? Permíteme presentarme, soy Diego, un experimentado programador .NET con una sólida experiencia de 8 años en el campo del desarrollo de software</p>
            <p>Mi misión principal es catalizar la innovación y aumentar la eficiencia mediante la implementación de soluciones tecnológicas modernas y efectivas</p>
            <p>Si estás buscando dejar atrás los obstáculos tecnológicos obsoletos y avanzar hacia un futuro más eficiente y efectivo, estoy aquí para ayudarte a lograrlo.</p>
            <p>Aquí hay algunas tecnologías con las que he estado trabajando recientemente:</p>

            <ul class="skills-list"><li>.Net (Framework/Core)</li><li>SQL (MSSQL,MYSQL)</li><li>WEB (HTML,(S)CSS,JS)</li><li>Angular</li><li>Laravel</li><li>Git (Github/Bitbucket)</li></ul>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="img-container">
          <img class="rounded" src="../../../../../assets/images/me.jpg" width="300" height="300"/>
        </div>
      </div>
    </div>
  </div>
</section>
