<header>
    <nav class="navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="./../../../../assets/images/logo.png" width="65" />
        </a>
  
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="#about">
              <span>01.</span> Acerca de Mi
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#jobs">
              <span>02.</span> Experiencia
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#projects">
              <span>03.</span> Proyectos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">
              <span>04.</span> Contacto
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link resume-button" (click)="DownloadResume()" href="#">
              Curriculum
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  