<header>
  <nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="'.'">
        <img src="./../../../../assets/images/logo.png" width="65" />
      </a>

      <ul ngbNav #nav="ngbNav">
        <li ngbNavItem >
          <a ngbNavLink>
            <span>01.</span> Acerca de Mi
          </a>
        </li>
        <li ngbNavItem >
          <a ngbNavLink>
            <span>02.</span> Experiencia
          </a>
        </li>
        <li ngbNavItem >
          <a ngbNavLink>
            <span>03.</span> Proyectos
          </a>
        </li>
        <li ngbNavItem >
          <a ngbNavLink>
            <span>04.</span> Contacto
          </a>
        </li>
        <li ngbNavItem>
          <a ngbNavLink (click)="DownloadResume()" class="resume-button">
            Curriculum
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
