<footer>
    <div>
        <ul class="footer-left-bar d-none d-md-block">
            <li>
                <a  href="https://github.com/dcaceresc" target='_blank'>
                    <fa-icon [icon]="faGithub"></fa-icon>
                </a>
            </li>
            <li>
                <a  href="https://www.linkedin.com/in/dcaceresc/" target='_blank'>
                    <fa-icon [icon]="faLinkedin"></fa-icon>
                </a>
            </li>
        </ul>
        <div class="footer-right-bar d-none d-md-block">
            <a href="mailto:diego.caceresc.c@gmail.com" target='_blank'>diego.caceres.c&#64;gmail.com </a>
        </div>
    </div>
  
    <div class="footer-credits text-center" >
  
      <a href="https://github.com/dcaceresc/Portafolio" target="_blank" rel="nofollow noopener noreferrer">
        <div class="mt-2">Build by Diego Cáceres</div>
      </a>
  
  <br>
        <a href="https://github.com/bchiang7/v4" target="_blank" rel="nofollow noopener noreferrer">
            <div class="mt-2">Designed by Brittany Chiang</div>
        </a>
    </div>
  
  </footer>
  