<section class="section contact">
    <div class="container">
      <div class="section-box">
        <div class="mb-4">
          <h3 class="contact-pre-title big-subtitule">04. Y ahora que...?</h3>
          <h4 class="e-font contact-title big-title">
            Contactame
          </h4>
        </div>
        <p>
          Si bien en este momento no estoy activamente en la búsqueda de nuevas oportunidades, quiero que sepa que mi correo electrónico está siempre disponible para usted. No dude en ponerse en contacto si tiene alguna pregunta o simplemente desea saludar. Estoy comprometido a responder lo más pronto posible. ¡Es un placer mantenernos en contacto!
        </p>
      </div>
    </div>
  </section>
  